<div>
    Trait: {{formInput systemFields.trait value=system.trait choices=TRAIT_CHOICES}}
    Range: {{formInput systemFields.range value=system.range choices=RANGE_CHOICES}}
    Slot: {{formInput systemFields.slot value=system.slot choices=SLOT_CHOICES}}
    Damage: {{formInput systemFields.damage value=system.damage}}
    Damage Type: {{formInput systemFields.damageType value=system.damageType choices=DAMAGETYPE_CHOICES}}
    Burden: {{formInput systemFields.burden value=system.burden}}
</div>